<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../resources/css/home-page.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <title>Home Page</title>
    <!-- <link href="./add-employee.html" rel="import" /> -->

</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <i class="fa fa-home"></i> Home Page
        </a>

        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" id="addEmpLink">Add new employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="listEmpsLink" href="#">List employees
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" style="color: yellow" href="#">
                        <i class="fa fa-user-circle-o"> DuongDV10 </i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-user-times"></i> Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container text-center p-5">
        <h4>Welcome to Employee Management System</h4>
    </div>

    <div class="row fixed-bottom" style="border-top: 1px solid #ccc; background-color: #222">
        <div class="col-md-12">
            <p style="margin: 10px auto; text-align: center; color: #ccc">
                &copy; Copyright Fresher Academy 2018</p>
        </div>
    </div>
    <script src="../resources/js/home-page.js"></script>
</body>

</html>