<div id="add-content">
    <h2 class="pt-4">Add Content</h2>
    <hr class="border">
    <div class="profile-form border rounded">
        <div id="profile-header" class="bg-light border p-2">
            <span class="">Content Form Elements</span>
        </div>
        <div id="profile-input" class="bg-white border p-3">
            <div class="input-title pb-2">
                <label for=""><b> Title</b></label><br>
                <input id="title" class="p-1 border rounded" type="text" name="title" placeholder="Enter the title">
            </div>
            <div class="input-brief pb-2">
                <label for=""><b> Brief</b></label><br>
                <textarea name="brief" id="brief" cols="50" rows="4"></textarea>
            </div>
            <div class="input-content pb-2">
                <label for=""><b> Content</b></label><br>
                <textarea name="content" id="content" rows="4" cols="50"></textarea>
            </div>
            <!-- Button  -->
            <div id="button2">
                <div id="submit2" class="btn btn-primary border">Submit Button</div>
                <div id="reset2" class="btn btn-primary border">Reset Button</div>
            </div>
        </div>
    </div>
</div>
</div>
</main>
<script src="../resources/js/add-content.js"></script>