<div id="edit-profile">
    <h2 class="pt-4">Edit Profile</h2>
    <hr class="border">
    <div class="profile-form border rounded">
        <div id="profile-header" class="bg-light border p-2">
            <span class="">Profile Form Elements</span>
        </div>
        <div id="profile-input" class="bg-white border p-3">
            <div class="input-firstname pb-2">
                <label for=""><b> First Name</b></label><br>
                <input class="p-1 border rounded" type="text" name="firstname" placeholder="Enter the first name">
            </div>
            <div class="input-lasttname pb-2">
                <label for=""><b> Last Name</b></label><br>
                <input class="p-1 border rounded" type="text" name="lastname" placeholder="Enter the last name">
            </div>
            <div class="input-email pb-2">
                <label for=""><b> Email</b></label><br>
                <input class="p-1 border-0 text-dark" type="text" name="email" placeholder="your_email@example.com">
            </div>
            <div class="input-Phonenumber pb-2">
                <label for="F"><b> Phone</b></label><br>
                <input class="p-1 border rounded" type="text" name="firstname" placeholder="Enter your phone number">
            </div>
            <div class="input-decription pb-2">
                <label for=""><b> Decription</b></label><br>
                <textarea class="w-75" name="decription" id="decription" rows="4" cols="100"></textarea>
            </div>
            <!-- Button  -->
            <div id="button1">
                <div id="sumit1" class="btn btn-primary border">Submit Button</div>
                <div id="reset1" class="btn btn-primary border">Reset Button</div>
            </div>
        </div>
    </div>
</div>