<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <title>Boostrap Landing Page</title>

    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="d-flex justify-content-between mt-2 mb-2">
                <b class="item-center">Start Boostrap</b>
                <div class="btn btn-primary">Sign in</div>
            </div>
        </div>
    </header>
    <section class="sec1">
        <div class="bg-slogan text-center text-white">
            <div class="text">
                <b>Build a landing page for your business <br> or project and generate more leads!</b>
            </div>
            <div class="sign-up justify-content-center">
                <input type="text" class="add-email" placeholder="Enter your email">
                <div class="submit bg-primary"><a href="#" class="nav-link text-white">Sign up!</a></div>
            </div>
        </div>
    </section>

    <section class="sec2">
        <div class="container">
            <div class="production2">
                <div class="row">
                    <div class="pro2 text-center col-sm-4">
                        <div class="symbol"><i class="fas fa-tv fa-3x text-primary pb-3"></i></div>
                        <div class="caption2">
                            <b class="title2">Fully Reponsive</b>
                            <div class="info2">This theme will look great on any devices no matter size!</div>
                        </div>
                    </div>
                    <div class="pro2 text-center col-sm-4">
                        <div class="symbol"><i class="fas fa-database fa-3x text-primary pb-3"></i></div>
                        <div class="caption2">
                            <b class="title2">Boostrap 4 Ready</b>
                            <div class="info2">Featuring the latest build of the new Boostrap framework!</div>
                        </div>
                    </div>
                    <div class="pro2 text-center col-sm-4">
                        <div class="symbol"><i class="far fa-check-circle fa-3x text-primary pb-3"></i></div>
                        <div class="caption2">
                            <b class="title2">Easy to Use</b>
                            <div class="info2">Ready to use with your own content or customize the source files!</div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    <section class="sec3">
        <div class="production4">
            <div class="row no-gutters">
                <div class="col-lg-6 mobile">
                    <img class="w-100" src="../image/bg-showcase-1.jpg" alt="">
                </div>
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <div class="wrapper w-75">
                        <b class="title3">Fully Responsive Design</b>
                        <p class="info3">
                            When you use a theme created by Start Boostrap, you know that the
                            theme will look great on any device, whether it's a phone, tablet, or
                            desktop the page will behave responsively!
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 normal">
                    <img class="w-100" src="../image/bg-showcase-1.jpg" alt="">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <img class="w-100" src="../image/bg-showcase-2.jpg" alt="">
                </div>
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <div class="wrapper w-75">
                        <b class="title3">Updated For Bootstrap 4</b>
                        <p class="info3">
                            Newly improved, and full of great utility, Bootstrap 4 is leading
                            the way in moblie responsive web development! All pf the themes on
                            Start Bootstrap are now using Bootstrap 4!
                        </p>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 mobile">
                    <img class="w-100" src="../image/bg-showcase-3.jpg" alt="">
                </div>
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <div class="wrapper w-75">
                        <b class="title3">Easy to Use & Customize</b>
                        <p class="info3">
                            Landing Page is just HTML and CSS with a splash of SCSS for users who
                            demand some deeger customization option. Out of the box, just add
                            your content and images, and your new landing page will be ready to go!
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 normal">
                    <img class="w-100" src="../image/bg-showcase-3.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="sec4">
        <div class="container">
            <div class="question text-center">
                <b>What people are saying...</b>
            </div>
            <div class="production4 row justify-content-between">
                <div class="pro4 col-sm-3">
                    <div class="avatar img-responsive">
                        <img src="../image/testimonials-1.jpg" alt="">
                    </div>
                    <div class="information4 text-center">
                        <b class="name">Margaret E.</b>
                        <p class="quote">"This is fantastic! Thanks so much guys!"</p>
                    </div>
                </div>
                <div class="pro4 col-sm-3">
                    <div class="avatar img-responsive">
                        <img src="../image/testimonials-2.jpg" alt="">
                    </div>
                    <div class="information4 text-center">
                        <b class="name">Fred S.</b>
                        <p class="quote">"Bootstrap is amazing. I've been using it to
                            create lots of super nice landing pages.
                            "</p>
                    </div>
                </div>
                <div class="pro4 col-sm-3">
                    <div class="avatar img-responsive">
                        <img class="" src="../image/testimonials-3.jpg" alt="">
                    </div>
                    <div class="information4 text-center">
                        <b class="name">Sarah W.</b>
                        <p class="quote">"Thank so much for making these free resources avaliable to us!"</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sec5">
        <div class="bg-sign_up text-center text-white">
            <div class="text">
                <b>Ready to get started?Sign up now!</b>
            </div>
            <div class="sign-up justify-content-center">
                <input type="text" class="add-email" placeholder="Enter your email">
                <div class="submit bg-primary"><a href="#" class="nav-link text-white">Sign up!</a></div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container p-5">
            <div class="footer">
                <div class="left ">
                    <ul class="nav text-center">
                        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Term of Use</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Privacy Policy</a></li>
                    </ul>
                    <div class="copyright">
                        <p><i class="far fa-copyright"></i>Your Website 2019.All Rights Reserved.</p>
                    </div>
                </div>
                <div class="right">
                    <div class="nav text-center">
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fab fa-facebook fa-2x"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fab fa-twitter-square fa-2x"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fab fa-instagram fa-2x" ></i></a></li>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>